# Cursor 이용

In [1]:
# test.db 데이터베이스 생성
import sqlite3
conn = sqlite3.connect("test.db")

In [2]:
# cursor 객체 생성
# execute 함수 이용 SQL 명령 실행
c = conn.cursor()
c.execute('''CREATE TABLE stocks
             (date text, trans text, symbol text, qty real, price real)''')

In [3]:
# commit 함수 이용 변경사항 저장
# 데이터베이스 연결 종료
conn.commit()
conn.close()

# Pandas DataFrame 이용

In [4]:
# to_sql 함수
import sqlite3
con = sqlite3.connect("test.db")

In [5]:
import pandas as pd

df = pd.DataFrame({"a":[1, 2, 3], "b":[4, 5, 6], "id":["a", "b", "c"]})

df.to_sql("df", con)

In [6]:
df

   a  b id
0  1  4  a
1  2  5  b
2  3  6  c

## UNIQUE INDEX

In [48]:
con = sqlite3.connect("test.db")
df = pd.DataFrame({"a":[1, 2, 3], "b":[4, 5, 6], "id":["a", "b", "c"]})

df.to_sql("df", con, index=False, if_exists="replace")
c = con.cursor()
c.execute("CREATE UNIQUE INDEX id ON df (id)")
con.commit()
con.close()

In [49]:
df

   a  b id
0  1  4  a
1  2  5  b
2  3  6  c

In [53]:
# seq, name, unique, origin, partial index 여부
con = sqlite3.connect("test.db")
c = con.cursor()
print(c.execute("PRAGMA index_list(df)").fetchall())

[(0, 'id', 1, 'c', 0)]

In [59]:
# read_sql 함수
con = sqlite3.connect("test.db")
data = pd.read_sql("SELECT * FROM df", con)
print(data)
con.close()

   a  b id
0  1  4  a
1  2  5  b
2  3  6  c