# Cursor 활용

In [2]:
# 서버 IP 주소, 사용자 ID, 비밀번호, 데이터베이스명
import pymysql

db_conf = {
    "host": "127.0.0.1",
    "user": "root",
    "password": 'alswl5369',
    "database": "temp",
}

In [3]:
# DB 연결
# 딕셔너리 자료형에 ** 붙이면 개별로 분리하여 함수의 입력 파라미터로 사용 
con = pymysql.connect(**db_conf)

In [4]:
# Cursor 생성, SQL 실행(stocks 삭제, 새 테이블 생성)
cur = con.cursor()
cur.execute("DROP TABLE IF EXISTS stocks")
cur.execute(
    """
        CREATE TABLE stocks (
            date VARCHAR(10),
            trans VARCHAR(20),
            symbol VARCHAR(10),
            qty INT,
            price INT,
            primary key (date) )
            """
)
con.commit()
con.close()

In [6]:
# 테이블에 값 입력, 문자열 %s 필요
con = pymysql.connect(**db_conf)
cur = con.cursor()
cur.execute(
    """
        INSERT INTO stocks (date, trans, symbol, qty, price)
        VALUES (%s, %s, %s, %s, %s)
        """, ("2019-10-12", "sell", "K029093", 6, 10000)
)
con.commit()
con.close()

In [7]:
# 데이터 값 확인
con = pymysql.connect(**db_conf)
cur = con.cursor()
cur.execute("SELECT * FROM stocks")
df = cur.fetchall()
con.commit()
con.close()

print(df)

(('2019-10-12', 'sell', 'K029093', 6, 10000),)

# Pandas DataFrame 활용

In [8]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

pymysql.install_as_MySQLdb()

In [9]:
# "mysql://[계정ID]:[계정PW]@[접속주소]/[데이터베이스명]"
engine = create_engine("mysql://root:alswl5369@localhost/temp")
con = engine.connect()

In [10]:
# to_sql 이용 테이블 정보 작성
test1 = pd.DataFrame({"a":[1,2,3,4]})
test1.to_sql('test1', con, if_exists="append", index=False)
con.close()

In [13]:
# 데이터 값 확인
con = pymysql.connect(**db_conf)
cur = con.cursor()
cur.execute("SELECT * FROM test1")
df = cur.fetchall()
con.commit()
con.close()

print(df)

((1,), (2,), (3,), (4,))